<%- include('../../../includes/commerce/head.ejs') %>
    </head>

    <body>
        <%- include('../../../includes/commerce/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div class="image">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2>$<%= product.price %></h2>
            <p><%= product.description %></p>
            <% if (isAuthenticated) { %>
                <%- include('../../../includes/commerce/add-to-cart.ejs') %>
            <% } %>
        </main>
        <%- include('../../../includes/commerce/end.ejs') %>